Extract numbers from the sentence and find its average

In [10]:
sent = "Their ages were 25 26 and 31 respectively".split()

In [11]:
# find average
sent

['Their', 'ages', 'were', '25', '26', 'and', '31', 'respectively']

In [12]:
numbers = []
for char in sent:
    if char.isdigit():
        numbers.append(int(char))

print("Average: ", sum(numbers)/len(numbers))

Average:  27.333333333333332

In [13]:
numbers

[25, 26, 31]

## Using regex to extract numbers

In [14]:
import re

In [26]:
import re
ext = r'\d+'
sent = "Their ages were 25 26 and 31 respectively"
out = re.findall(ext, sent)
out

['25', '26', '31']

In [28]:
sum = 0
for num in out:
    sum += int(num)

In [30]:
avg = sum/ len(out)
avg

27.333333333333332

In [47]:
names = ['अलिशा', 'आर्या', 'गीतिका', 'योगिता']

In [48]:
for x in names:
    if x.startswith("अ"):
        print(x)

अलिशा

In [49]:
' '.join(names)

'अलिशा आर्या गीतिका योगिता'

In [50]:
names[2] = 'गीतिका'.replace('गीतिका', 'मानसी')

In [51]:
names

['अलिशा', 'आर्या', 'मानसी', 'योगिता']

In [54]:
f = open('names.txt', 'w', encoding='utf-8')
for x in range(11):
    f.write('गीतिका')

f.close()

In [58]:
for i in names:
    print(f"{i} - {len(i)}")

अलिशा - 5
आर्या - 5
मानसी - 5
योगिता - 6

In [60]:
ord('ग')

2327

In [79]:
for code_point in range(0x0910, 0x0980):  
    char = chr(code_point)  # Convert the code point to the corresponding character
    print(f"Character: {char}, Unicode: {code_point}")

Character: ऐ, Unicode: 2320
Character: ऑ, Unicode: 2321
Character: ऒ, Unicode: 2322
Character: ओ, Unicode: 2323
Character: औ, Unicode: 2324
Character: क, Unicode: 2325
Character: ख, Unicode: 2326
Character: ग, Unicode: 2327
Character: घ, Unicode: 2328
Character: ङ, Unicode: 2329
Character: च, Unicode: 2330
Character: छ, Unicode: 2331
Character: ज, Unicode: 2332
Character: झ, Unicode: 2333
Character: ञ, Unicode: 2334
Character: ट, Unicode: 2335
Character: ठ, Unicode: 2336
Character: ड, Unicode: 2337
Character: ढ, Unicode: 2338
Character: ण, Unicode: 2339
Character: त, Unicode: 2340
Character: थ, Unicode: 2341
Character: द, Unicode: 2342
Character: ध, Unicode: 2343
Character: न, Unicode: 2344
Character: ऩ, Unicode: 2345
Character: प, Unicode: 2346
Character: फ, Unicode: 2347
Character: ब, Unicode: 2348
Character: भ, Unicode: 2349
Character: म, Unicode: 2350
Character: य, Unicode: 2351
Character: र, Unicode: 2352
Character: ऱ, Unicode: 2353
Character: ल, Unicode: 2354
Character: ळ, Unicode: 2355
Character: ऴ, Unicode: 2356
Character: व, Unicode: 2357
Character: श, Unicode: 2358
Character: ष, Unicode: 2359
Character: स, Unicode: 2360
Character: ह, Unicode: 2361
Character: ऺ, Unicode: 2362
Character: ऻ, Unicode: 2363
Character: ़, Unicode: 2364
Character: ऽ, Unicode: 2365
Character: ा, Unicode: 2366
Character: ि, Unicode: 2367
Character: ी, Unicode: 2368
Character: ु, Unicode: 2369
Character: ू, Unicode: 2370
Character: ृ, Unicode: 2371
Character: ॄ, Unicode: 2372
Character: ॅ, Unicode: 2373
Character: ॆ, Unicode: 2374
Character: े, Unicode: 2375
Character: ै, Unicode: 2376
Character: ॉ, Unicode: 2377
Character: ॊ, Unicode: 2378
Character: ो, Unicode: 2379
Character: ौ, Unicode: 2380
Character: ्, Unicode: 2381
Character: ॎ, Unicode: 2382
Character: ॏ, Unicode: 2383
Character: ॐ, Unicode: 2384
Character: ॑, Unicode: 2385
Character: ॒, Unicode: 2386
Character: ॓, Unicode: 2387
Character: ॔, Unicode: 2388
Character: ॕ, Unicode: 2389
Character: ॖ, Unicode: 2390
Character: ॗ, Unicode: 2391
Character: क़, Unicode: 2392
Character: ख़, Unicode: 2393
Character: ग़, Unicode: 2394
Character: ज़, Unicode: 2395
Character: ड़, Unicode: 2396
Character: ढ़, Unicode: 2397
Character: फ़, Unicode: 2398
Character: य़, Unicode: 2399
Character: ॠ, Unicode: 2400
Character: ॡ, Unicode: 2401
Character: ॢ, Unicode: 2402
Character: ॣ, Unicode: 2403
Character: ।, Unicode: 2404
Character: ॥, Unicode: 2405
Character: ०, Unicode: 2406
Character: १, Unicode: 2407
Character: २, Unicode: 2408
Character: ३, Unicode: 2409
Character: ४, Unicode: 2410
Character: ५, Unicode: 2411
Character: ६, Unicode: 2412
Character: ७, Unicode: 2413
Character: ८, Unicode: 2414
Character: ९, Unicode: 2415
Character: ॰, Unicode: 2416
Character: ॱ, Unicode: 2417
Character: ॲ, Unicode: 2418
Character: ॳ, Unicode: 2419
Character: ॴ, Unicode: 2420
Character: ॵ, Unicode: 2421
Character: ॶ, Unicode: 2422
Character: ॷ, Unicode: 2423
Character: ॸ, Unicode: 2424
Character: ॹ, Unicode: 2425
Character: ॺ, Unicode: 2426
Character: ॻ, Unicode: 2427
Character: ॼ, Unicode: 2428
Character: ॽ, Unicode: 2429
Character: ॾ, Unicode: 2430
Character: ॿ, Unicode: 2431

In [81]:
emoji = '😇😀🤩'

In [82]:
emoji

'😇😀🤩'

In [83]:
ord(emoji[0])

128519